@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
    --primary-medium-color: hsl(257, 40%, 49%);
    --primary-soft-color: hsl(300, 69%, 71%);
}

html {
    max-width: 1440px;
    font-size: 62.5%;
    height: 100vh;
    margin: auto auto;
}